<div class="sidebar__subscribe__item">
    <div class="sidebar__item__title">
        <h6>Abone Ol</h6>
    </div>
    <p>Son bloglar ve yazılardan haberdar olmak için mail bültenimize hemen kaydolun.</p>
    <form action="#">
        <input type="text" class="email-input" placeholder="E-postanız">
        <label for="s-agree-check">
            Şartları okudum & Kabul ediyorum.
            <input type="checkbox" id="s-agree-check">
            <span class="checkmark"></span>
        </label>
        <button type="submit" class="site-btn">Abone Ol</button>
    </form>
</div>