<div class="sidebar__subscribe__item">
    <div class="sidebar__item__title">
        <h6>Abone Ol</h6>
    </div>
    <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
    <form action="#">
        <input type="text" class="email-input" placeholder="Your email">
        <label for="s-agree-check">
            I agree to the terms & conditions
            <input type="checkbox" id="s-agree-check">
            <span class="checkmark"></span>
        </label>
        <button type="submit" class="site-btn">Subscribe</button>
    </form>
</div>