@model MyBlog.PresentationLayer.Areas.Writer.Models.EditWriterProfileViewModel
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <form class="forms-sample" method="post" enctype="multipart/form-data">
            <div class="page-header">
                <h3 class="page-title">Kullanıcı Profil Sayfası</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Profilim </li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" asp-for="AppRoleId" />
                                <label>Adınız</label>
                                <input type="text" asp-for=Name class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Soyadınız</label>
                                <input type="text" asp-for="Surname" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Kullanıcı Adınız</label>
                                <input type="text" asp-for="Username" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>E-Mail Adresiniz</label>
                                <input type="text" asp-for="Email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Şehir Bilginiz</label>
                                <input type="text" asp-for="City" class="form-control" />
                            </div> 
                            <div class="form-group">
                                <label>Meslek</label>
                                <input type="text" asp-for="Profession" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Telefon Numaranız</label>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Şifreniz</label>
                                <input type="password" asp-for="Password" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="col">
                                <h5>Güncel Yazar Görseli</h5>
                                <img height="150" width="110" src="@Model.ImageUrl" />
                            </div>
                            <br />
                            <div class="col">
                                <label class="form-label">Görseli Değiştir</label>
                                <input type="file" class="form-control" name="Image">
                            </div>
                            <br />
                            <div class="col">
                                <label class="form-label">Toplam Makale Sayısı:</label>
                                <label class="form-label">@ViewBag.articlecount</label>
                            </div>
                            <div class="col">
                                <label class="form-label">Toplam Aldığı Yorum Sayısı:</label>
                                <label class="form-label">@ViewBag.commentscount</label>
                            </div>
                            <br />
                            <div class="col">
                                <h7 class="mb-4">İçerik</h7>
                                <br />
                                <div>
                                    <textarea class="form-control" asp-for="About" id="summernote"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <button type="submit" class="btn btn-success mr-2"> Bilgileri Güncelle </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#summernote').summernote({
        height: 200,
        minHeight: null,
        maxHeight: null,
        focus: true
    });
</script>
