@model AppUser
@{
    ViewData["Title"] = "UpdateAuthor";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <form asp-action="UpdateAuthor" asp-controller="Author" asp-area="Admin" method="post" enctype="multipart/form-data">
        <br />
        <h6 class="mb-4">Blog Güncelleme Sayfası</h6>
        <div class="row">
            <div class="col-sm-6 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <input type="hidden" asp-for="UserName" />
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" name="RowVersion" value="@Convert.ToBase64String(Model.RowVersion)" />
                    <div class="mb-3">
                        <label class="form-label">Adı</label>
                        <input type="text" class="form-control" asp-for="Name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Soyadı</label>
                        <input type="text" class="form-control" asp-for="Surname">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Şehir</label>
                        <input type="text" class="form-control" asp-for="City">
                    </div>
                    <div>
                        <label class="form-label">Yazarı Aktif Et: </label>
                        <input asp-for="IsApproved" type="checkbox" class="form-check-input" />
                        <input type="hidden" asp-for="IsApproved" value="false" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <div class="col">
                        <h5>Güncel Yazar Görseli</h5>
                        <img height="150" width="110" src="@Model.ImageUrl" />
                    </div>
                    <br />
                    <div class="col">
                        <label class="form-label">Görseli Değiştir</label>
                        <input type="file" class="form-control" name="Image">
                    </div>
                    <br />
                    <div class="col">
                        <label class="form-label">Toplam Makale Sayısı:</label>
                        <label class="form-label">@ViewBag.articlecount</label>
                    </div>
                    <div class="col">
                        <label class="form-label">Toplam Aldığı Yorum Sayısı:</label>
                        <label class="form-label">@ViewBag.commentscount</label>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="bg-light rounded h-200 p-4">
                <h7 class="mb-4">İçerik</h7>
                <div>
                    <textarea class="form-control" asp-for="About" id="summernote"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bg-light rounded h-200 p-4">
                <button class="btn btn-success" type="submit">Güncelle</button>
            </div>
        </div>
        <br />
    </form>
</div>
<script>
    $('#summernote').summernote({
        height: 200,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
    });
</script>
