@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="alert alert-success alert-dismissable">
	<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	Use this boxes to fill your dashboard. You can load number of users, activities, logs, etc...
</div>
<!-- İstatistikler 4'lü -->
@await Component.InvokeAsync("_AdminLayoutStatisticComponentPartial")
<!-- Tablolar Chart -->
@await Component.InvokeAsync("_AdminLayoutTableChartComponentPartial")
<!-- Tablo listesi -->
@await Component.InvokeAsync("_AdminLayoutTableListComponentPartial")
<!-- Widgetlar -->
@await Component.InvokeAsync("_AdminLayoutWidgetsComponentPartial")