@model List<SocialMedia>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Sosyal Medya</th>
            <th>Icon</th>
            <th>Link</th>
            <th>Sil</th>
            <th>Güncelle</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SocialMediaId</td>
                <td>@item.Title</td>
                <td><i class="@item.IconUrl"></i></td>
                <td>@item.LinkUrl</td>
                <td><a class="btn btn-outline-danger" href="/SocialMedia/SocialMediaDelete/@item.SocialMediaId">Sil</a></td>
                <td><a class="btn btn-outline-success" href="/SocialMedia/SocialMediaUpdate/@item.SocialMediaId">Güncelle</a></td>

            </tr>
        }
    </table>
    <a href="/SocialMedia/SocialMediaCreate" class="btn btn-outline-primary">Yeni Sosyal Medya Girişi</a>
</div>
