@{
    Layout = null;
}

<link href="c:\users\batuh\source\repos\myblog.presentationlayer\myblog.presentationlayer\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h2>Hoşgeldiniz: @ViewBag.name @ViewBag.surname</h2>
    <br />
    <h3>ID Numaranız: @ViewBag.id</h3>
</div>