<nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">

        <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
            <i class="mdi mdi-menu"></i>
        </button>
        <ul class="navbar-nav">
            <!--Notification-->
            @await Component.InvokeAsync("_WriterLayoutNavBarNotificationComponentPartial")
            <!--Message-->
            @await Component.InvokeAsync("_WriterLayoutNavBarMessageComponentPartial")
            <!--Search-->
            @await Component.InvokeAsync("_WriterLayoutNavBarSearchComponentPartial")
        </ul>
        <ul class="navbar-nav navbar-nav-right ml-lg-auto">
            <!--Dil seçeneği-->
            <li class="nav-item dropdown d-none d-xl-flex border-0">
                <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown">
                    <i class="mdi mdi-earth"></i> English
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                    <a class="dropdown-item" href="#"> French </a>
                    <a class="dropdown-item" href="#"> Spain </a>
                    <a class="dropdown-item" href="#"> Latin </a>
                    <a class="dropdown-item" href="#"> Japanese </a>
                </div>
            </li>
            <!--Profil butonu-->
            @await Component.InvokeAsync("_WriterLayoutNavBarProfileComponentPartial")
        </ul>
        <!--Mobil menü butonu-->
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
