@model Article
@{
    ViewData["Title"] = "CreateBlog";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <form asp-action="CreateBlog" asp-controller="Blog" asp-area="Admin" method="post" enctype="multipart/form-data">
        <br />
        <h6 class="mb-4">Yeni Blog Sayfası</h6>
        <div class="row">
            <div class="col-sm-6 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <div class="mb-3">
                        <label class="form-label">Blog Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Kategori</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Yazar</label>
                        @Html.DropDownListFor(x => x.AppUserId, (List<SelectListItem>)ViewBag.authors, new { @class = "form-control" })
                    </div>
                    <div>
                        <label class="form-label">Yazıyı Aktif Hale Getir: </label>
                        <input asp-for="IsApproved" type="checkbox" class="form-check-input" />
                        <input type="hidden" asp-for="IsApproved" value="false" />

                        <label class="form-label">Öne Çıkar: </label>
                        <input asp-for="IsFeaturePost" type="checkbox" class="form-check-input" />
                        <input type="hidden" asp-for="IsFeaturePost" value="false" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <br />
                    <div class="col">
                        <label class="form-label">Görseli Değiştir</label>
                        <input type="file" class="form-control" asp-for="CoverImageUrl">                         
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="bg-light rounded h-200 p-4">
                    <h7 class="mb-4">İçerik</h7>
                <div>
                    <textarea class="form-control" asp-for="Detail" id="summernote"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bg-light rounded h-200 p-4">
                <button class="btn btn-success" type="submit">Oluştur</button>
            </div>
        </div>
        <br />
    </form>
</div>
<script>
    $('#summernote').summernote({
        height: 1000,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
    });
</script>