@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper pb-0">
        <div class="row">
            @await Component.InvokeAsync("_WriterLayoutDashboardStatisticComponentPartial")
        </div>
        <div class="row">
            <div class="col col-md-4">
                @await Component.InvokeAsync("_DashboardBarChartComponentPartial")
            </div>
            <div class="col-xl-8 grid-margin stretch-card">
                @await Component.InvokeAsync("_WriterLayoutDashboardWeatherChartComponentPartial")
            </div>
        </div>
    </div>
</div>