<div class="col-lg-4 col-md-4">
    <div class="sidebar__item">
@await Component.InvokeAsync("_DefaultRightBarAboutMeComponentPartial")
@await Component.InvokeAsync("_DefaultRightBarFollowSocialMediaComponentPartial")
@await Component.InvokeAsync("_DefaultRightBarFeaturePostsComponentPartial")
@await Component.InvokeAsync("_DefaultRightBarCategoriesComponentPartial")
@await Component.InvokeAsync("_DefaultRightBarSubscribeComponentPartial")
    </div>
</div>