@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h1>Kategoriler</h1>
<div class="container">
    <a href="/Admin/Category/CreateCategory" class="btn btn-outline-primary">Yeni Kategori Girişi</a>
    <br />
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Kategoriye Ait Blog Sayısı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>
                    @{
                        // item.Articles null olup olmadığını kontrol ediyorum
                        if (item.Articles == null || !item.Articles.Any())
                        {
                            <span>0</span>
                        }
                        else
                        {
                            <span>@item.Articles.Count()</span>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.Articles?.Count > 0)
                        {
                            <span>Kategoriye bağlı bloglar varken kategori silinemez.</span>
                        }
                        else
                        {
                            <a class="btn btn-outline-danger" href="/Admin/Category/DeleteCategory/@item.CategoryId">Sil</a>
                        }
                    }
                </td>
                <td><a class="btn btn-outline-success" href="/Admin/Category/UpdateCategory/@item.CategoryId">Güncelle</a></td>
            </tr>
        }
    </table>
</div>
