@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Kategoriye Ait Blog Sayısı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.Articles.Count()</td>
                <td><a class="btn btn-outline-danger" href="/Category/CategoryDelete/@item.CategoryId">Sil</a></td>
                <td><a class="btn btn-outline-success" href="/Category/CategoryUpdate/@item.CategoryId">Güncelle</a></td>

            </tr>
        }
    </table>
    <a href="/Category/CategoryCreate" class="btn btn-outline-primary">Yeni Kategori Girişi</a>
</div>
