@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Head -->
@await Component.InvokeAsync("_WriterLayoutHeadComponentPartial")
<body>
    <div class="container-scroller">
        @await Component.InvokeAsync("_WriterLayoutSideBarComponentPartial")
        <div class="container-fluid page-body-wrapper">
            <!-- Tema Ayarları -->
            @await Component.InvokeAsync("_WriterLayoutThemeSettingsComponentPartial")
            <!-- NAVBAR -->
            @await Component.InvokeAsync("_WriterLayoutNavBarComponentPartial")
            @RenderBody()
            <!-- main-panel ends -->         
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    @await Component.InvokeAsync("_WriterLayoutScriptComponentPartial")
</body>
</html>