@model List<MyBlog.PresentationLayer.Areas.Admin.Models.CategoryBlogCountChart>

<div id="bar_chart" style="height: 500px; display: block; width: 514px;" width="642" height="321"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'Blog Count');

        // Verileri doldur
        var rows = [
    @foreach (var item in Model)
    {
        <text>['@Html.Raw(item.CategoryName)', @item.BlogCount], </text>
    }
            ];
        data.addRows(rows);

        var options = {
            title: 'Kategorilere Göre Blog Sayıları',
            legend: { position: 'none' }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('bar_chart'));
        chart.draw(data, options);
    }
</script>
