
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Humberger Begin -->
    @await Component.InvokeAsync("_DefaultSideBarComponentPartial")
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    @await Component.InvokeAsync("_DefaultCategoriesComponentPartial")
    <!-- Categories Section End -->

    <!-- Footer Section Begin -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
    <!-- Footer Section End -->

    <!-- Search Begin -->
    @await Component.InvokeAsync("_DefaultSearchComponentPartial")
    <!-- Search End -->

    <!-- Js Plugins -->
@await Component.InvokeAsync("_DefaultJSPluginsComponentPartial")
</body>
</html>