@model List<Category>
<div class="sidebar__item__categories">
    <div class="sidebar__item__title">
        <h6>Kategoriler</h6>
    </div>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Blog/BlogListForCategory/@item.CategoryId">@item.CategoryName<span>@item.Articles.Count()</span></a></li>
        }
    </ul>
</div>