@model List<Article>
<footer class="footer">
    <div class="container-fluid">
        <div class="footer__instagram">
            <div class="footer__instagram__avatar">
                <div class="footer__instagram__avatar--pic">
                    <img src="~/images/batuhan-yalin-logo.png" alt="">
                </div>
                <div class="footer__instagram__avatar--text">
                    <h5>YalinBlog.com</h5>
                    <span>23,7k Takipçi</span>
                </div>
            </div>
            <div class="row">
                @{
                    int count = 0;
                }
                @foreach (var item in Model)
                {
                    count++;
                    if (count <= 6)
                    {
                        <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                            <div class="footer__instagram__item set-bg" data-setbg="@item.ThumbImageUrl"></div>
                        </div>
                    }
                    else
                    {
                        
                    }
                }

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__text">
                    <div class="footer__logo">
                        <a href="https://batuhanyalin.com"><img height="60" width="248" src="~/images/logo.png" alt=""></a>
                    </div>
                    <p>
                        Bu websitesinde alanında uzman, bilgi birikimini aktarmaya hazır ve nitelikli birden çok yazar görev almaktadır. İçeriklerin tamamı yazarlarımız tarafından özgün şekilde hazırlanmaktadır. İçeriklerimizi lütfen izinsiz kopyalayıp çoğaltmayınız, kullanım ihtiyacınız oluştuğunda <a href="/Contact/Index">iletişime</a> geçmekten çekinmeyiniz. İyi okumalar dileriz...
                    </p>
                    @await Component.InvokeAsync("_DefaultFooterSocialMediaComponentPartial")
                </div>
                <div class="footer__copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. | <a href="https://batuhanyalin.com" target="_blank">Batuhan YALIN</a> tarafından yapıldı.
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>