<div id="preloder">
    <div class="loader"></div>
</div>
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/Default/Index"><img src="~/images/humberger-menu-logo.png" alt=""></a>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li><a href="/Default/Index">Anasayfa</a></li>
            <li><a href="#">Yazarlar</a></li>
            <li><a href="./About">Hakkımızda</a></li>
            <li><a href="./Contact">Bize Yazın</a></li>
            <li><a href="#">Giriş Yap</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__about">
        <div class="humberger__menu__title sidebar__item__title">
            <h6>Bize Ulaşın</h6>
        </div>
        <h6>Aşağıdaki hesaplarımız üzerinden bize ulaşabilirsiniz.</h6>
        <p>
            Kadıkoy, İstanbul, Turkey
        </p>
        <ul>
            <li><a href="mailto:info@batuhanyalin.com">info@batuhanyalin.com</a></li>
            <li><a href="tel:+90355353535">Telefon Edin</a></li>
            <li><a href="/Contact/Index">Mesaj Gönderin</a></li>
        </ul>
    </div>
</div>